osmnx
timm==0.6.7
transformers @ git+https://github.com/huggingface/transformers
numpy
shapely
matplotlib
pillow
pandas
geopandas
tqdm
scipy
opencv-python
torch
torchvision
dataclasses
vistdf @ git+https://github.com/vista-data/VistDF.git